body {
  font-family: 'Times New Roman',
}

#page {
  overflow-x: hidden;
}

#page.toggled #sidebar {
  margin-left: -15rem;
}

#sidebar {
  min-height: 50vh;
  margin-left: 0;
  width: 12rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  border-color: black;
}

#sidebar header {
  padding: 1 rem 1.25rem;
  font-size: 10px;
}

#page-content {
  width: 100%;
  min-height: 100vh;
  background-color: whitesmoke
}

#loginLogo img {
  width: 60%;
}

#divLogoSidebar {
  padding-bottom: 10px;
  left: 55%;
}

#logoSidebar {
  position: absolute;
  left: 55%;
}

#ButtonLogin{
  font-size: medium;
  font-family: 'Times New Roman';
}

#Input2{
  border-color: #17a2b8;
}

#AddPlantas {
  color:  #17a2b8;
}
#PDT {
  color: #17a2b8;
  font-family: 'Times New Roman';
}